@using NezamEquipment.Common.Extension
@model NezamEquipment.Web.Areas.Admin.Features.Equipment.AdminNezamEquipmentIndexViewModel
@{
    ViewBag.PageTitle = "لیست تجهیزات کامپیوتری ";
}

<div class="col-md-12">
    @Html.PageTitle()
</div>
<div class="col-md-12">
    @Html.Form(Model).Options(i =>
{
    i.IsSearchForm(MVC.Admin.Equipment.Index(), Model.PageTotal);
}).Items(i =>
{

    i.TextBox(Model.S, x => x.Code, 4);
    i.EnumDropDown(Model.S, x => x.EquipmentType, 4);
    i.EnumDropDown(Model.S, x => x.EquipmentStatus, 4);
    i.EnumDropDown(Model.S, x => x.UnitType, 4);
    i.TextBox(Model.S, x => x.FromCreatedOn, 4).IsDateFormat().Value(Model.S.FromCreatedOn != null ? Model.S.FromCreatedOn.Value.ToShortShamsi(false) : "");
    i.TextBox(Model.S, x => x.ToCreatedOn, 4).IsDateFormat().Value(Model.S.ToCreatedOn != null ? Model.S.ToCreatedOn.Value.ToShortShamsi(false) : "");



}).Done()
</div>
<div class="col-md-12">
    @Html.ToolBox(Model).Items(i =>
{
    i.AddButton(MVC.Admin.Equipment.Add()).SetText("افزودن آیتم جدید").SetClass("btn btn-success");

    i.AddButton(MVC.Admin.Equipment.GetExcelFile(Model.S.FromCreatedOn, Model.S.ToCreatedOn)).SetText("دریافت این لیست به صورت Excel").SetClass("btn btn-info");
}).Done()
   
</div>
<div class="col-md-12">
    @Html.Grid(Model, x => x.NezamEquipments).Options(i =>
{
    i.AddDetailsButton();
    i.AddEditButton();
    //i.AddButton(MVC.Admin.Equipment.PasswordCahnge()).SetClass("label label-info").SetText("تغییر پسورد").SetQueryString("id", nameof(Model.NezamEquipment.Id));

    i.AddDeleteButton();
    //i.SetRowColorRoles(nameof(Model.NezamEquipment.unitType), new Dictionary<string, EGridColorType>()
    //    {
    //        {UnitType.Disactive.ToString(), EGridColorType.Danger},
    //    });
}).Columns(i =>
{
    i.AddColumnCounter();
    i.AddColumnForButton();
    i.AddColumnFor(Model.NezamEquipment, x => x.EquipmentTypes);
    i.AddColumnFor(Model.NezamEquipment, x => x.Brand);
    i.AddColumnFor(Model.NezamEquipment, x => x.Model);
    i.AddColumnFor(Model.NezamEquipment, x => x.unitType);
    i.AddColumnFor(Model.NezamEquipment, x => x.EquipmentStatus);
    if (Model.NezamEquipment.EmployeFullName!= null)
    {
        i.AddColumnFor(Model.NezamEquipment, x => x.EmployeFullName);
    }


}).Done()
</div>

@section InBodyTag
{
    <script type="text/javascript">
        GoToPageOnSuccessUrl = "@Url.Action(MVC.Admin.Equipment.Index())";
    </script>
}
