@model NezamEquipment.Web.Areas.Admin.Features.Home.AdminHomeIndexViewModel
@{
    ViewBag.PageTitle = "داشبورد";
}

<div class="col-md-12">
    @Html.PageTitle()
</div>
<div class="col-md-12">
    <div class="alert alert-info">
        <span>به کنترل پنل مدیریت خوش آمدید.</span>
    </div>
    <div class="col-md-12 well well-shadow">
        @if (Model.CaseTotal != 0)
        {
            <div class="btn btn-info">
                تعداد کیس
                @Model.CaseTotal
            </div>
        }
        @if (Model.MonitorTotal != 0)
        {
            <div class="btn btn-info">
                تعداد مانیتور
                @Model.MonitorTotal
            </div>
        }
        @if (Model.PrinterTotal != 0)
        {
            <div class="btn btn-info">
                تعداد پرینتر
                @Model.PrinterTotal
            </div>
        }
        @if (Model.ScanerTotal != 0)
        {
            <div class="btn btn-info">
                تعداد اسکنر
                @Model.ScanerTotal
            </div>
        }
        @if (Model.LaptopTotal != 0)
        {
            <div class="btn btn-info">
                تعداد لب تاب
                @Model.LaptopTotal
            </div>
        }
        @if (Model.TabletTotal != 0)
        {
            <div class="btn btn-info">
                تعداد تب لت
                @Model.TabletTotal
            </div>
        }
        @if (Model.FaxTotal != 0)
        {
            <div class="btn btn-info">
                تعداد  فکس
                @Model.FaxTotal
            </div>
        }
        @if (Model.mouseTotal != 0)
        {
            <div class="btn btn-info">
                تعداد  موس بیسیم
                @Model.mouseTotal
            </div>
        }
        @if (Model.KeyTotal != 0)
        {
            <div class="btn btn-info margin-top-20">
                تعداد  کیبورد بیسیم
                @Model.KeyTotal
            </div>
        }
        @if (Model.HardTotal != 0)
        {
            <div class="btn btn-info margin-top-20 ">
                تعداد هارد اکسترنال
                @Model.HardTotal
            </div>
        }
    </div>
    <div class=" col-sm-12 col-xl-12  row row-sm" style="padding :25px;">
        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="background: #dc3545;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
        padding-right: 20px;
        padding-left: 50px;
        padding-right: 20px;
        align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        تعداد کاربران
                        @Model.EmployeCount
                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->
        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="background: #ffc107;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
        padding-right: 20px;
        padding-left: 50px;
        padding-right: 20px;
        align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center"><a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.boss))" style="color:black;">لیست تجهیزات دفتر ریاست</a> </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->

        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="        background: #17a2b8;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
        padding-right: 20px;
        padding-left: 50px;
        padding-right: 20px;
        align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        <a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.It))" style="color:black;">
                            تجهیزات انفورماتیک
                        </a>

                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->

    </div>
    <div class="col-sm-12 col-xl-12   row row-sm" style="padding :25px;">
        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="        background: #28a745;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
        padding-right: 20px;
        padding-left: 50px;
        padding-right: 20px;
        align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        <a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.DabirKhane))" style="color:black;">
                            تجهیزات دبیرخانه
                        </a>
                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->
        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="        background: #17a2b8;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
        padding-right: 20px;
        padding-left: 50px;
        padding-right: 20px;
        align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        <a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.Mali))" style="color:black;">
                            تجهیزات مالی
                        </a>
                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->
        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="        background: #dc3545 ;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
        padding-right: 20px;
        padding-left: 50px;
        padding-right: 20px;
        align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        <a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.Amozesh))" style="color:black;">
                            تجهیزات آموزش
                        </a>
                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->

    </div>
    <div class="col-sm-12 col-xl-12   row row-sm" style="padding :25px;">
        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="        background: #ffc107;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
                                                                                                                                                                                                                                                                                                                                    padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                    padding-left: 50px;
                                                                                                                                                                                                                                                                                                                                    padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                    align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        <a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.KhadamatMohandesi))" style="color:black;">
                            تجهیزات خدمات مهندسی
                        </a>
                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->
        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="        background: #dc3545;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         padding-left: 50px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        <a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.ShoraiEntezami))" style="color:black;">
                            تجهیزات شورایی انتظامی
                        </a>
                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->
        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="        background: #17a2b8 ;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               padding-left: 50px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        <a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.adari))" style="color:black;">
                            تجهیزات اداری
                        </a>
                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->

    </div>
    <div class="col-sm-12 col-xl-12   row row-sm" style="padding :25px;">
        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="        background: #17a2b8 ;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            padding-left: 50px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        <a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.RavabetOmomi))" style="color:black;">
                            تجهیزات  روابط عمومی
                        </a>
                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->
        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="        background: #ffc107;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 padding-left: 50px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        <a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.Ozviat))" style="color:black;">
                            تجهیزات عضویت
                        </a>
                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->
        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="        background: #dc3545;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        <a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.Bargh))" style="color:black;">
                            تجهیزات برق
                        </a>
                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->

    </div>
    <div class="col-sm-12 col-xl-12   row row-sm" style="padding :25px;">
        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="        background: #dc3545 ;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
        padding-right: 20px;
        padding-left: 50px;
        padding-right: 20px;
        align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        <a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.Zheo))" style="color:black;">
                            تجهیزات ژئوتکنیک
                        </a>
                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->
        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="        background: #28a745;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
        padding-right: 20px;
        padding-left: 50px;
        padding-right: 20px;
        align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        <a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.Komite))" style="color:black;">
                            تجهیزات کمیته
                        </a>
                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->

        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="        background: #ffc107;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
                                                                                                                                                                                                                                             padding-right: 20px;
                                                                                                                                                                                                                                           align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        <a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.Nezarat))" style="color:black;">
                            تجهیزات کمیته و نظارت
                        </a>
                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->

    </div>
    <div class="col-sm-12 col-xl-12   row row-sm" style="padding :25px;">
        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="        background: #ffc107;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
                                                                                                                                                                                                                                                                                                                                    padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                    padding-left: 50px;
                                                                                                                                                                                                                                                                                                                                    padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                    align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        <a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.Tasisat))" style="color:black;">
                            تجهیزات تاسیسات
                        </a>
                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->
        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="        background: #17a2b8;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         padding-left: 50px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        <a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.Mojrian))" style="color:black;">
                            تجهیزات  مجریان ذی صلاح
                        </a>
                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->
        <div class="col-sm-4 col-xl-4">
            <div class="bg-primary rounded overflow-hidden" style="        background: #28a745;">
                <div class=" pd-t-20 d-flex align-items-center" style="padding-top: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               padding-left: 50px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               padding-right: 20px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               align-items: center !important;">
                    <div class=" pd-t-20 d-flex align-items-center">
                        <a href="@Url.Action(MVC.Admin.Home.ListEquipmentUnit(unitType:NezamEquipment.DomainClasses.Enum.UnitType.Gas))" style="color:black;">
                            تجهیزات گاز  
                        </a>
                    </div>

                </div>
                <div id="ch1" class="ht-50 tr-y-1 rickshaw_graph"><svg width="292" height="50"><g><path d="M0,25Q21.08888888888889,19.291666666666664,24.333333333333332,19.374999999999996C29.199999999999996,19.499999999999996,43.8,25.0625,48.666666666666664,26.25S68.13333333333334,30.875,73,31.25S92.46666666666667,30.625,97.33333333333333,30S116.8,24.25,121.66666666666666,25S141.13333333333333,35.625,146,37.5S165.46666666666664,43.75,170.33333333333331,43.75S189.79999999999998,38.4375,194.66666666666666,37.5S214.13333333333333,35.3125,219,34.375S238.46666666666664,27.8125,243.33333333333331,28.125S262.79999999999995,37.8125,267.66666666666663,37.5Q270.9111111111111,37.291666666666664,292,25L292,50Q270.9111111111111,50,267.66666666666663,50C262.79999999999995,50,248.2,50,243.33333333333331,50S223.86666666666667,50,219,50S199.53333333333333,50,194.66666666666666,50S175.2,50,170.33333333333331,50S150.86666666666667,50,146,50S126.53333333333332,50,121.66666666666666,50S102.19999999999999,50,97.33333333333333,50S77.86666666666666,50,73,50S53.53333333333333,50,48.666666666666664,50S29.199999999999996,50,24.333333333333332,50Q21.08888888888889,50,0,50Z" class="area" fill="rgba(255,255,255,0.5)"></path></g></svg></div>
            </div>
        </div><!-- col-3 -->

    </div>
</div>


