
@model NezamEquipment.Web.Areas.Admin.Features.Segment.AdminSegmentEditViewModel
@{
    ViewBag.PageTitle = " ویرایش  اطلاعات پایه ارزش تجاری";
}

<div class="col-md-12">
    @Html.PageTitle()
</div>
<div class="col-md-12" id="form">

    <div class="well well-white well-shadow" style="margin-top: 20px">
        @using (Ajax.BeginForm("Edit", AjaxOptionsExtension.Get(url: Url.Action(MVC.Admin.Segment.Edit(Model.Segment.Id)))))
        {

            <fieldset class="fieldset">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @Html.HiddenFor(x => x.Segment.Id)
                <div class="tab-pane text-right" style="padding: 0 20px 20px;" id="tab0">
                    <h4> ویرایش  اطلاعات</h4>
                    <hr class="margin-0" />

                </div>
                <div class="tab-pane active text-right " style="padding: 0 20px 20px;" id="tab2">

                    <div class="row margin-bottom-10">
                        <div class="col-sm-12">
                            <div class="row margin-bottom-10">
                                <div class="col-sm-4">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(x => x.Segment.Type, new { @class = "control-label" })
                                        @Html.TextBoxFor(x => x.Segment.Type, new { @class = "form-control", data_val = "true", data_val_required = "پر کردن این فیلد ضروری است" })
                                        @Html.ValidationMessageFor(x => x.Segment.Type, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                              </div>


                            <button class="btn btn-success" type="submit">ویرایش</button>
                            @Html.ButtonLoading()

                        </div>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
@section InBodyTag
{
<script type="text/javascript">
    GoToPageOnSuccessUrl = '@Url.Action(MVC.Admin.Segment.Index())';
</script>
}


